<tr>
  <td> <%= link_to target.phrase, target %> </td>
  <td>total: <%= target.hits.count %></td>
  <td>confirmed: <%= target.hits.where(confirmed: 1).count %></td>
  <td>unconfirmed: <%= target.hits.where(confirmed: 0).count %></td>
  <td>not present: <%= target.hits.where(confirmed: -1).count %></td>
  <td>flagged: <%= target.hits.where(flagged: true).count %></td>
</tr>
