<% provide(:title, "Edit \"" + @target.phrase + "\"") %>
<h1> Update target "<%= @target.phrase %>"</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@target) do |f| %>
      <%= render 'error_messages' %>

      <%= f.label :phrase, "Phrase" %>
      <%= f.text_field :phrase %>
      
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

      <%= f.select :feature_ids, Feature.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    <% end %>
  </div>
</div>

