<% provide(:title, 'Target | ' + @target.phrase) %>
  <h2><%= @target.phrase %></h2>
  Total: <%= @hits.count %> <br/> 
  Confirmed: <span class="confirmed"> <%= @hits.where(:confirmed => 1).count %> </span> <br/>
  Unconfirmed: <span class="unconfirmed"> <%= @hits.where(:confirmed => 0).count %> </span> <br/>
  Not Present: <span class="not-present"> <%= @hits.where(:confirmed => -1).count %> </span>
  <h3>Features 
  <table class="table table-striped">
    <%= render @features %>
  </table>
  <h3>Hits</h3>
  <table class="table table-striped">
    <%= render @hits %>
  </table>
  <h3>Saved Hits</h3>
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Save Date</th>
    </thead>
    <%  @savedFiles.each do |f|
          trimmed = f.gsub!(/app\/assets\/audios\//,'')
          matches = trimmed.scan(/(.*)_id-(.*)_(.*).mp3/) [0]
          id = matches[1]
          date = DateTime.parse(matches[2]).strftime("%Y-%m-%d %H:%M")
    %>
      <tr>
        <td>
          <a href="<%= asset_path(f) %>"><%= id %></a>
        </td>
        <td>
          <%= date %>
        </td>
      </tr>
    <% end %>
  </table>
<br />

