<% provide(:title, "Edit hit " + @hit.id.to_s ) %>

<div class="row">

<%= form_for(@hit) do |f| %>
    
    <%= render 'error_messages' %>

    <%= f.hidden_field :confirmed, :value => @hit.confirmed %>
    <%= f.hidden_field :location, :value => @hit.location %>
    <%= f.hidden_field :window_duration, :value => @hit.window_duration, :class => 'needs-validation' %>
    <%= f.hidden_field :window_start, :value => @hit.window_start, :class => 'needs-validation' %>
    
    <%= f.submit "No changes", id: "commit-button", class: "btn btn-large btn-primary" %>
  <br/>
  <div class="alert alert-error" id="alertBox"></div>
  <div class="span12">
    <div id="title">
      <div style="float: left">
        <h2 id="hit-title"><%= @target.phrase+' '+@hit.id.to_s %></h2>
      </div>
      <div id="selections" data-loaded="<%= @hit.confirmed %>">
        <div id="confirmed" class="status-box needs-validation" data-toggle="tooltip" data-status="1" title="Confirmed"></div>
        <div id="unconfirmed" class="status-box needs-validation" data-toggle="tooltip" data-status="0" title="Unconfirmed"></div>
        <div id="not-present" class="status-box needs-validation" data-toggle="tooltip" data-status="-1" title="Not Present"></div>
        <div id="duplicate" class="status-box needs-validation" data-toggle="tooltip" data-status="-2" title="Duplicate"></div>
        <span id="flag" class="needs-validation">
          <input type="checkbox" id="flag-checkbox" 
          <%  if(@hit.flagged) 
                concat 'checked="checked"'
              end %>
          >
          flag this
        </span>

      </div>
    </div>
    <div id="hit-container"> 
      <div id="window-start-static" style="display:none;"></div>

      <div id="audio-row" class="row">
        <!-- Edit "getTime" in page-player.js -->
        <div id="sm-container">
            <ul class="playlist">
            <li><a href="http://<%= @hit.audio_file[6,@hit.audio_file.length] %>">Click to play</a></li>
            </ul>
        </div>
      </div>
      <br/>
      <div id="hit-info" class="row">
        located at
        <span id="location" data-value="<%= @hit.location %>"></span>
        <span id="mark-hit" class="btn needs-validation">mark hit</span>
      </div>

      </div>

      <div id="transcript" class="row">
        <div class="row">
          <div class="span12">
            <%= f.text_area :transcript, :value => @hit.transcript, :id => 'hit-transcript', :class => 'clip-textarea needs-validation'%>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            transcript start 
            <div class="start-time-box" style="display: inline;">
              <span class="beginning-time transcript-time-span">
                <input class="transcript-time" id="start-time-hours" type="text" value="00">:<input class="transcript-time" id="start-time-minutes" type="text" value="00">:<input class="transcript-time" id="start-time-seconds" type="text" value="00">:<input class="transcript-time" id="start-time-milliseconds" type="text" value="000"> 
              </span>
            </div>
          </div>
          <div class="span4">
            <span class="now btn needs-validation" id="start-now" title="set start to current time">current time</span> 
          </div>
        </div>
        <div class="row">
          <div class="span4">
            transcript end
            <div class="end-time-box" style="display: inline;">
              <span class="ending-time transcript-time-span">
                <input class="transcript-time" id="end-time-hours" type="text" value="00">:<input class="transcript-time" id="end-time-minutes" type="text" value="00">:<input class="transcript-time" id="end-time-seconds" type="text" value="00">:<input class="transcript-time" id="end-time-milliseconds" type="text" value="000"> 
              </span>
            </div>
          </div>
          <div class="span4">
            <span class="now btn needs-validation" id="end-now" title="set end to current time">current time</span>
          </div>  
        </div>
      </div>
      <div class="row">
          <span class="btn" id="play-span">play transcript</span>
      </div>
      <div class="row">
        Notes: <br/>
        <%= f.text_area :notes, :value => @hit.notes, :class => 'clip-textarea needs-validation'%>
      </div>
    </div>


    <div id="feature-box">
      <%= @hit.feat_vals %>
      <% @features.each_with_index do |feature,index| %>
      <div id="feature-<%= index %>" class="feature pull-left" style="margin-right: 45px">
        <h2><%= feature.name %></h2>
        <%= feature.created_at %> by <%= feature.user.name %><br/>
        <%= feature.instructions %><br/>
        <div class="feature-form">
          <%  has_saved_feature = true
              if(@hit.feat_vals.blank?)
                has_saved_feature = false
              end
          %>
          <%  if(feature.ftype == 0) %>
            <% feature.fvalues.each do |value| %>
              <label class="radio">
                <% if(has_saved_feature)
                    has_value = (@hit.feat_vals["#{index}"][0] == value)
                  end
                %>
                <%= radio_button_tag("hit[feat_vals][#{index}][]",value,has_value) %>
                <%= value %>
              </label>
            <% end %>
          <% end %>
          <%  if(feature.ftype == 1) %>
            <%= hidden_field_tag "hit[feat_vals][#{index}][]", 'dummy'%>
            <% feature.fvalues.each_with_index do |value,val_index| %>
              <label class="checkbox">
                <% if(has_saved_feature)
                    has_value = @hit.feat_vals["#{index}"].include?(value)
                  end
                %>
                <%= check_box_tag("hit[feat_vals][#{index}][]",value,has_value) %>
                <%= value %>
              </label>
            <% end %>
          <% end %>
          <%  if(feature.ftype == 2) %>
            <% feature.fvalues.each_with_index do |value,val_index| %>
              <label class="textbox">
                <%= text_field_tag("hit[feat_vals][#{index}][]",value) %>
              </label>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

</div>


