<% provide(:title, "Edit hit " + @hit.id.to_s ) %>

<div class="row">

<%= form_for(@hit) do |f| %>
    <%= render 'error_messages' %>

    <%= f.hidden_field :confirmed, :value => @hit.confirmed %>
    <%= f.hidden_field :location, :value => @hit.location %>
    <%= f.hidden_field :window_duration, :value => @hit.window_duration, :class => 'needs-validation' %>
    <%= f.hidden_field :window_start, :value => @hit.window_start, :class => 'needs-validation' %>

    <%= f.submit "Save", id: "commit-button", class: "btn btn-large btn-primary" %>
    <%= f.submit "Previous", id: "commit-button", class: "btn btn-large btn-primary" %>
    <%= f.submit "Next", id: "commit-button", class: "btn btn-large btn-primary" %>
    <%= f.submit "Next Unconfirmed", id: "commit-button", class: "btn btn-large btn-primary" %>
    <%= f.submit "Cancel", id: "commit-button", name: "cancel", class: "btn btn-large btn-warning" %>
  <br/>
  <br/>
  <div class="alert alert-error span6" id="alertBox"></div>
  <div class="span10">
    <div id="title">
      <div style="float: left">
        <h2 id="hit-title"><%= link_to @target.phrase, @target %> <%= @hit.id.to_s %></h2>
      </div>
      <div id="selections" data-loaded="<%= @hit.confirmed %>">
        <div id="confirmed" class="status-box needs-validation" data-toggle="tooltip" data-status="1" title="Confirmed"></div>
        <div id="unconfirmed" class="status-box needs-validation" data-toggle="tooltip" data-status="0" title="Unconfirmed"></div>
        <div id="not-present" class="status-box needs-validation" data-toggle="tooltip" data-status="-1" title="Not Present"></div>
        <div id="duplicate" class="status-box needs-validation" data-toggle="tooltip" data-status="-2" title="Duplicate"></div>
        <span id="flag" class="needs-validation">
          <%= f.check_box :flagged, :checked=>@hit.flagged, :style=>"margin-top: -5px" %> Flag
        </span>

      </div>
    </div>
    <div id="hit-container">
      <div id="window-start-static" style="display:none;"></div>

      <div id="audio-row" class="row">
        <div class="pull-left side-button-container">
          <span id="play-start" class="btn btn-mini side-button"><i class="icon-play"></i> start 2s</span><br/>
          <span id="play-span" class="btn btn-mini side-button"><i class="icon-play"></i> selection</span><br/>
          <span id="play-end" class="btn btn-mini side-button"><i class="icon-play"></i> last 2s</span>
        </div>
        <div class="span8">
          <div id="sm-container">
              <ul class="playlist">
              <li><a href="<%= asset_path('voluptas_in_id-1.mp3')
              #audio_path(@hit.audio_file) 
              %>">Click to play</a></li>
              </ul>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="span3" id="hit-info">
          <span class="hit-time-box transcript-time-span">
            <input class="transcript-time" id="hit-time-hours" type="text" value="00">:<input class="transcript-time" id="hit-time-minutes" type="text" value="00">:<input class="transcript-time" id="hit-time-seconds" type="text" value="00">:<input class="transcript-time" id="hit-time-milliseconds" type="text" value="000">
          </span>
        </div>
        <div class="span2">
          <span id="hit-now" class="btn needs-validation now">mark hit <i class="icon-time"></i></span> 
          <span id="play-hit" class="btn">play hit <i class="icon-play"></i></span>
        </div>
        <div class="span3 pull-right">
          <a id="help-link" href="#help" data-toggle="modal"><%= image_tag('keyboard-icon.png', width: '25px')%> Keyboard shortcuts</a>
          <br/>
          <div class="modal hide fade" id="help">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Keyboard Shortcuts</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="span6">
                  <dl class="keyboard-help">
                    <dt>[ctrl]+[left]</dt>
                    <dd>Seek left</dd><br/>
                    <dt>[ctrl]+[right]</dt>
                    <dd>Seek right</dd><br/>
                    <dt>[ctrl]+[up]</dt>
                    <dd>Set window start</dd><br/>
                    <dt>[ctrl]+[down]</dt>
                    <dd>Set window end</dd>
                  </dl>
                </div>
                <div class="span6">
                  <dl class="keyboard-help">
                    <dt>[ctrl]+[space]</dt>
                    <dd>Toggle player</dd>
                    <dt>[ctrl]+[enter]</dt>
                    <dd>Mark hit</dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="span6">
                  <dl class="keyboard-help">
                    <dt>[ctrl]+0</dt>
                    <dd>Flag hit</dd><br/>
                    <dt>[ctrl]+1</dt>
                    <dd>Mark confirmed</dd><br/>
                    <dt>[ctrl]+2</dt>
                    <dd>Mark unconfirmed</dd><br/>
                    <dt>[ctrl]+3</dt>
                    <dd>Mark not present</dd><br/>
                    <dt>[ctrl]+4</dt>
                    <dd>Mark duplicate</dd><br/>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>

      </div>

      <div id="transcript" class="row">
        <div class="row">
          <div class="span12">
            <%= f.text_area :transcript, :value => @hit.transcript, :id => 'hit-transcript', :class => 'clip-textarea needs-validation'%>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <div class="start-time-box" style="display: inline;">
              <span class="beginning-time transcript-time-span">
                <input class="transcript-time" id="start-time-hours" type="text" value="00">:<input class="transcript-time" id="start-time-minutes" type="text" value="00">:<input class="transcript-time" id="start-time-seconds" type="text" value="00">:<input class="transcript-time" id="start-time-milliseconds" type="text" value="000">
              </span>
            </div>
          </div>
          <div class="span4">
            <span class="now btn needs-validation" id="start-now" title="set start to current time">
              start <i class="icon-time"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <div class="end-time-box" style="display: inline;">
              <span class="ending-time transcript-time-span">
                <input class="transcript-time" id="end-time-hours" type="text" value="00">:<input class="transcript-time" id="end-time-minutes" type="text" value="00">:<input class="transcript-time" id="end-time-seconds" type="text" value="00">:<input class="transcript-time" id="end-time-milliseconds" type="text" value="000">
              </span>
            </div>
          </div>
          <div class="span4">
            <span class="now btn needs-validation" id="end-now" title="set end to current time">
              end <i class="icon-time"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        Notes: <br/>
        <%= f.text_area :notes, :value => @hit.notes, :class => 'clip-textarea needs-validation'%>
      </div>
    </div>
    <div class="span5">
      <h2>Features</h2>
      <div id="feature-box">
        <% @features.each_with_index do |feature,index| %>
        <div id="feature-<%= index %>" class="feature pull-left" style="margin-right: 45px">
          <h3><%= feature.name %> <i class="icon-chevron-up feature-chevron"></i></h3>
          <div class="feature-data">
            <%= feature.created_at %> by <%= feature.user.name %><br/>
            <%= feature.instructions %><br/>
            <div class="feature-form">
              <%  has_saved_feature = true
                  if(@hit.feat_vals.blank?)
                    has_saved_feature = false
                  end
              %>
              <%  if(feature.ftype == 0) %>
                <% feature.fvalues.each do |value| %>
                  <label class="radio">
                    <%  if(has_saved_feature)
                          if(!@hit.feat_vals["#{index}"].blank?)
                            has_value = (@hit.feat_vals["#{index}"][0] == value)
                          end
                        end
                    %>
                    <%= radio_button_tag("hit[feat_vals][#{index}][]",value,has_value,:class => "needs-validation") %>
                    <%= value %>
                  </label>
                <% end %>
              <% end %>
              <%  if(feature.ftype == 1) %>
                <%= hidden_field_tag "hit[feat_vals][#{index}][]", 'dummy'%>
                <% feature.fvalues.each_with_index do |value,val_index| %>
                  <label class="checkbox">
                    <% if(has_saved_feature && !@hit.feat_vals["#{index}"].nil?)
                        has_value = @hit.feat_vals["#{index}"].include?(value)
                      end
                    %>
                    <%= check_box_tag("hit[feat_vals][#{index}][]",value,has_value,:class => "needs-validation") %>
                    <%= value %>
                  </label>
                <% end %>
              <% end %>
              <%  if(feature.ftype == 2) %>
                <% feature.fvalues.each_with_index do |value,val_index| %>
                  <label class="textbox">
                    <%  if(@hit.feat_vals["#{index}"].blank?)
                          feat_val = ""
                        else
                          feat_val = @hit.feat_vals["#{index}"][val_index]
                        end
                      %>
                    <%= text_field_tag("hit[feat_vals][#{index}][]",feat_val,:placeholder => value,:class => "needs-validation") %>
                  </label>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

</div>


