<tr>
  <td>
	<%= link_to feature.name, feature %>
  	<% if current_user.admin? %>
		(<%= link_to "Edit", edit_feature_path(feature) %>)
	<% elsif feature.user_id == current_user.id %>
		(<%= link_to "Edit", edit_feature_path(feature) %>)
	<% end %>
  </td>
  <td>
	<%= feature.user_id %>
  </td>
  <td>
	<%= feature.targets.count %>
  </td>
  <td>
	<%= feature.instructions.split(' ')[0..10].join(' ') %>
  </td>
</tr>
