<% provide(:title, "Edit \"" + @feature.name + "\"") %>
<h1> Update feature "<%= @feature.name %>"</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@feature) do |f| %>
      <%= render 'error_messages' %>

      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>

      <%= f.label :name, "Instructions" %>
      <%= f.text_area :instructions %>
      
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
