<% provide(:title, "New feature") %>
<h1>Create new feature</h1>
<div class="row">
    <%= form_for(@feature) do |f| %>
      <%= render 'error_messages' %>
    <div class="offset3 span3">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>

      <%= f.label :instructions, "Instructions" %>
      <%= f.text_area :instructions, :rows=>10 %>
      <%= f.submit "Create feature", class: "btn btn-large btn-primary" %>
    </div>
    <div class="span3">
      <%= f.label :ftype, "Feature type" %>
      <%= f.select(:ftype, options_for_select([['Single',0],['Multiple',1],['Text',2]])) %>
      Options:
      <div id="feature-list">
        <div class="btn" id="add-new">Add value</div>
        <br/><br/>
        <%= text_field_tag("feature[fvalues][]",nil,:placeholder => "Add feature", 'data-count'=>0) %><br/>
        <%= text_field_tag("feature[fvalues][]",nil,:placeholder => "Add feature", 'data-count'=>1) %><br/>
      </div>   
    </div> 
    <% end %>
</div>
