<% provide(:title, "New feature") %>
<h1>Create new feature</h1>
<div class="row">
  <%= form_for(@feature) do |f| %>
    <%= render 'error_messages' %>
  <div class="offset3 span3">
    <span class="help" title="The name of your feature. Make sure to pick something descriptive!"> Name <i class="icon-question-sign"></i></span> <span id="nonunique" class="alert-danger">This name is in use</span>
    <%= f.text_field :name %>
    <span class="help" title="Tell the annotators how they should mark features for each hit."> Instructions <i class="icon-question-sign"></i></span>
    <%= f.text_area :instructions, :rows=>10 %>
    <%= f.submit "Create feature", class: "btn btn-large btn-primary" %>
  </div>
  <div class="span3">
    <span class="help" title="Single - Pick one from a list.<br/> Multiple - Can pick multiple from a list.<br/> Text - Unrestricted text input."> Feature Type <i class="icon-question-sign"></i></span>
    <%= f.select(:ftype, options_for_select([['Single',0],['Multiple',1],['Text',2]])) %>
    Options:
    <div id="feature-list">
      <div class="btn" id="add-new">Add value</div>
      <br/><br/>
      <%= text_field_tag("feature[fvalues][]",nil,:placeholder => "Add feature", 'data-count'=>0) %><br/>
      <%= text_field_tag("feature[fvalues][]",nil,:placeholder => "Add feature", 'data-count'=>1) %><br/>
    </div>   
  </div>
  <div class="span3">
    <span class="help" title="Which targets have this feature?"> Targets <i class="icon-question-sign"></i></span>
    <%= f.select :target_ids, Target.all.collect {|x| [x.phrase, x.id]}, {}, :multiple => true %>
  </div> 
  <% end %>
</div>
