<% if current_user.admin? %>
  <li><%= link_to "Users", users_path %></li>
<% end %>
<li><%= link_to "Targets", targets_path %></li>
<li><%= link_to "Features", features_path %></li>
 <li class="dropdown">
   <a class="dropdown-toggle"
      data-toggle="dropdown"
      href="#">
     Public
     <b class="caret"></b>
   </a>
   <ul class="dropdown-menu">
<%= render 'layouts/public_links' %>
</ul>
</li>

<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
